@model IEnumerable<CodeAbility.MonitorAndCommand.Models.Message>

@{
    ViewBag.Title = "Home Page";
}

@*@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
             <!-- Add content here -->
        </div>
    </section>
}*@

<table id="DataTable">
    <!-- Header -->
    <tr>
        <th>
            Sending Device
        </th>
        <th>
            Receiving Device
        </th>
        <th>
            To Device
        </th>
        <th>
            From Device
        </th>
        <th>
            Content Type
        </th>
        <th>
            Name
        </th>
        <th>
            Parameter
        </th>
        <th>
            Content
        </th>
    </tr>

    <!-- Items -->
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelitem => item.SendingDevice)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.ReceivingDevice)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.ToDevice)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.FromDevice)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.ContentType)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.Parameter)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.Content)
            </td>
        </tr>
    }
</table>

